.highlight{background:#fff}
.highlight .c,.highlight .cm,.highlight .c1{color:#998;font-style:italic}
.highlight .err{color:#a61717;background:#e3d2d2}
.highlight .k,.highlight .o,.highlight .gs,.highlight .kc,.highlight .kd,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .ow{font-weight:bold}
.highlight .cp{color:#999;font-weight:bold}
.highlight .cs{color:#999;font-weight:bold;font-style:italic}
.highlight .gd{color:#000;background:#fdd}
.highlight .gd .x{color:#000;background:#faa}
.highlight .ge{font-style:italic}
.highlight .gr,.highlight .gt{color:#a00}
.highlight .gh,.highlight .bp{color:#999}
.highlight .gi{color:#000;background:#dfd}
.highlight .gi .x{color:#000;background:#afa}
.highlight .go{color:#888}
.highlight .gp,.highlight .nn{color:#555}
.highlight .gu{color:#800080;font-weight:bold}
.highlight .kt,.highlight .nc{color:#458;font-weight:bold}
.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .il{color:#099}
.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.highlight .s1{color:#d14}
.highlight .na,.highlight .no,.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi{color:#008080}
.highlight .nb{color:#0086B3}
.highlight .ni{color:#800080}
.highlight .ne,.highlight .nf{color:#900;font-weight:bold}
.highlight .nt{color:#000080}
.highlight .w{color:#bbb}
.highlight .sr{color:#009926}
.highlight .ss{color:#990073}
.type-csharp .highlight .k,.type-csharp .highlight .kt{color:#00F}
.type-csharp .highlight .nf{color:#000;font-weight:normal}
.type-csharp .highlight .nc{color:#2B91AF}
.type-csharp .highlight .nn{color:#000}
.type-csharp .highlight .s,.type-csharp .highlight .sc{color:#A31515}